
.cbody{
  background-color: white;
  padding: 40px 40px 40px 40px;
  border: 3px solid darkblue;
  border-radius: 20px 20px 20px 20px;
}
.cbody2{
  background-color: 	#000080;
  border: 4px soild 	#000080;
  border-radius: 40px 0px 0px 0px;
  box-shadow: 10px 10px 10px #000;
}